body{
  background-color: grey;
}

.wrap{
  height: 700px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
}

header, footer{
  height: 100px;
  width: 980px;
  clear: both;
}

main {
  height: 500px;
  width: 1000px;
  background-color: blue
}
article {
  float: right;
  overflow-x: auto;
  width: 660px;
  height: 500px;
}

#nav {
  padding: 10px;
  float: left;
  width: 180px;
}

section {
  padding: 10px;
  border: 3px black solid;
  border-radius: 20px;
  height: 220px;
  width: 600px;
}

section #games{
  height: auto;
}

img {
  height: 200px;
  width: 200px;
  float: right;
}

p {
  float: left;
}
