body{
  background-color: grey;
}

.wrap{
  height: 700px;
  width: 1000px;
  margin: auto;
  background-color: orange;
}
h1{
  padding: none;
  margin: none;
}
header, footer{
  height: 100px;
  width: 1000px;
  clear: both;
}

main {
  height: 500px;
  width: 1000px;
  background-color: blue
}
article {
  float: right;
  overflow-x: auto;
  width: 790px;
  height: 500px;
}

#nav {
  padding: 10px;
  float: left;
  width: 180px;
}

section {
  padding: 10px;
  border: 3px black solid;
  border-radius: 20px;
  height: 320px;
  width: 730px;
}

#games{
  height: auto;
  width: 730px;
}

img {
  height: 200px;
  width: 200px;
  float: right;
}

p {
  float: left;
  width: 500px;
}
