body{
  background-color: grey;
  margin: 0px;
}

.wrap{
  height: 700px;
  width: 1000px;
  margin: auto;
}

header{
  height: 100px;
  width: 1000px;
  clear: both;
  text-align: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  font-size: 4em;
  background-color: orange;
}
footer{
  height: 85px;
  width: 985px;
  clear: both;
  text-align: right;
  background-color: orange;
  padding: 8px
}

main {
  height: 500px;
  width: 1000px;
  background-color: blue;
}
article {
  float: right;
  overflow-x: auto;
  width: 790px;
  height: 500px;
}

#nav {
  padding: 10px;
  float: left;
  width: 180px;
}

section {
  padding: 10px;
  border: 3px black solid;
  border-radius: 20px;
  height: 320px;
  width: 730px;
}

#games{
  height: auto;
  width: 730px;
}

#intro{
  width: 730px;
  height: 200px;
}

img {
  height: 200px;
  width: 200px;
  float: right;
}

p {
  float: left;
  width: 500px;
}
.wide{
  float: left;
  width: 700px;
}
